

.title {
    align-items: center;
    font-weight: 800;
    font-size: 5.625rem;
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
}

body {
    background-color: rgb(54, 54, 54);
    min-height: 99%;
    width: 99%;
}

main {
    align-items: center;
    height: 50vh;
    justify-content: center;
    position: relative;
    display: flex;
    padding-left: 100px;
}

#app section img {
    width: 200px;
    height: 200px;
    border-radius: 10px 0px 0px 10px; 
}

.container {
    display: flex;
    align-items: center;
    border: 2px solid;
    margin-right: 150px;
    margin-top: 20px;
    font-size: 12px;
    font-family: Arial;
    border-radius: 15px;
    background-color: rgb(181, 181, 181);
    width:600px;
    letter-spacing: -0.5px;
}

.card-text {
    display: block;
    padding-left: 15px;
    width: 350px;
}

.card-text p{
    width: 16em;
    word-wrap: break-word;
    font-size: 18px;
}

p:first-child {
    font-weight: bold;
    font-size: 25px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #8e9092;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.status_Alive {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(22, 255, 1);
    border-radius: 50%;
    display: inline-flex;
}

.status_Dead {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(252, 2, 2);
    border-radius: 50%;
    display: inline-flex;
}

.status_Unknown {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(158, 158, 158);
    border-radius: 50%;
    display: inline-flex;
}